<%= form_for(@player_pokemon) do |f| %>
  <% if @player_pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_pokemon.errors.count, "error") %> prohibited this player_pokemon from being saved:</h2>

      <ul>
      <% @player_pokemon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.number_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :pokemon_id %><br>
    <%= f.number_field :pokemon_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
