<p id="notice"><%= notice %></p>

<h1>Listing Player Pokemons</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Pokemon</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_pokemons.each do |player_pokemon| %>
      <tr>
        <td><%= Player.find(player_pokemon.player_id).name %></td>
        <td><%= Pokemon.find(player_pokemon.pokemon_id).name %></td>
        <td><%= link_to 'Show', player_pokemon %></td>
        <!--<td><%= link_to 'Edit', edit_player_pokemon_path(player_pokemon) %></td>-->
        <td><%= link_to 'Destroy', player_pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Player pokemon', new_player_pokemon_path %>-->
