<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= Player.find(@player_pokemon.player_id).name %>
</p>

<p>
  <strong>Pokemon:</strong>
  <%= Pokemon.find(@player_pokemon.pokemon_id).name %>
</p>

<!--<%= link_to 'Edit', edit_player_pokemon_path(@player_pokemon) %> |-->
<%= link_to 'Back', player_pokemons_path %>
