<p id="notice"><%= notice %></p>

<h1>Listing Pokemons to capture for: <%= Player.find(params[:player_id]).name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dex number</th>
      <th>Image</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% Pokemon.all.each do |pokemon| %>
      <tr>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.dex_number %></td>
        <td><img alt= <%= pokemon.name%> src= <%=pokemon.image%> width="50" height="50" /></td> 
        <td><%= link_to 'Capture this',  :controller => :player_pokemons, :action => :createpk, :player_id =>params[:player_id], :pokemon_id => pokemon.id  %></td>
        <!--<td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>-->
        <!--<td><%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pokemon', '#' %>
