<h1>New Fight</h1>

<%= form_for :challenger, url: challenger_pokemon_path do |f| %>

   <div class="field">
    <%= f.label :challenger_player_id %><br>
    <%= f.collection_select(:challenger_player_id, @players, :id, :name) %>
    <!--<%= f.text_field :challenger_player_id %>-->
  </div>
  
  <%= f.submit  %>
<% end  %>




<%= link_to 'Back', fights_path %>
